@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 15, 15);
    min-height: 100vh;
}

.root {
    width: 100%;
    height: 100vh;
}

.tradePrice {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.tradePrice .shiba {
    width: 10vw;
    height: 10vw;
    transform: translateX(-1.2vw);
    margin-bottom: .3.5vh;
}

.tradePrice h1 {
    letter-spacing: 0.25em;
    color: white;
    font-size: 4vw;
    display: flex;
    align-items: center;
}

.tradePrice h1 a {
    text-decoration: none;
    color: rgb(255, 195, 82);
}

.tradePrice p {
    letter-spacing: 0.075em;
    font-size: 7vw;
    margin-bottom: 5vh;
}

.binance {
    position: absolute;
    font-size: 1.2vw;
    letter-spacing: 0.5em;
    padding: .8vw;
    /* padding: .8vw .3vw .8vw 1vw; */
    color: #f3ba2f;
    border: 3px solid rgba(68, 63, 73, 0.8);
    border-radius: 6px;
    transform: translateX(30vw);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.binance::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 63, 73, 0.4);
    transition: 1s;
}

.binance:hover::before {
    background-color: rgba(255, 174, 0, 0);
}

.binance:hover {
    border: 3px solid #f3ba2f;
}

.binance .bsc {
    width: 2vw;
    height: 2vw;
    margin-right: .75vw;
}

@media only screen and (max-width: 600px) {
    .tradePrice .shiba {
        width: 20vh;
        height: 20vh;
    }

    .tradePrice h1 {
        font-size: 4vh;
    }

    .tradePrice p {
        font-size: 7vh;
    }

    .binance {
        font-size: 1.4vh;
        transform: translateX(29vh);
        border: 0.7px solid white;
        padding: .8vh;
        letter-spacing: 0.1em;
    }

    .binance:hover {
        border: 0.7px solid #f3ba2f;
    }

    .binance .bsc {
        width: 2vh;
        height: 2vh;
        margin-right: .75vh;
    }
}